@font-face {
    font-family: 'Gitant';
    src: url('../font/GitanLatnTRIAL-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gitant';
    src: url('../font/GitanLatnTRIAL-Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gitant';
    src: url('../font/GitanLatnTRIAL-Eb.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gitant';
    src: url('../font/GitanLatnTRIAL-Sb.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gitant';
    src: url('../font/GitanLatnTRIAL-Me.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}