.reseaux img {
    width: 45px;
    height: 45px;
}

.feunetre img {
    width: 45px;
    height: 45px;
}

.logodev img {
    width: 45px;
    height: 45px;
}

.logograph img {
    width: 45px;
    height: 45px;
}