.reseaux img {
    width: 42px;
    height: 42px;
}

.feunetre img {
    width: 45px;
    height: 45px;
}

.logodev img {
    width: 45px;
    height: 45px;
}

.logograph img {
    width: 45px;
    height: 45px;
}

.nom h1 {
    font-size: 50px;
    font-family: 'Gitant', sans-serif;
    font-weight: bold;
    color: #ED728C;
}